<app-navigation class="nav"></app-navigation>
<div class="container">
    <button class="btn btn-primary new" routerLink="/category/new" routerLinkActive="active">New Category</button>
<table class="table" >
    <thead>
        <tr>
            <th>Code</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
         <tr *ngFor="let c of categories; index as i">
            <td>{{i+1}}</td>
            <td>{{c.category}}</td>
            <td><button class="btn btn-success" (click)="selectCategory(i)">Select</button></td>
         </tr>
    </tbody>
</table>
</div>