
<app-navigation></app-navigation>

<img src="../../../assets/editADM.png" alt="">
<form action="">
    <label for="Category">Category Name:</label>
    <input type="text" placeholder="Name" class="form-control" name="Category" [(ngModel)]="category.category">
    
    <input type="button" value="Edit"  class="btn btn-warning" (click)="editCategory()">
    <input type="button" value="Remove"  class="btn btn-danger" (click)="removeCategory()">
    <input type="button" value="Cancel"  class="btn btn-secondary" (click)="cancel()">