<app-navigation class="nav"></app-navigation>
<div class="container">
  <button
    class="btn btn-primary new"
    routerLink="/author/new"
    routerLinkActive="active"
  >
    New Author
  </button>
  <p-table 
        [value]="authors"
        [paginator]="true"
        [rows]="5"
        [first]="first"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        (onPage)="pageChange($event)"
        [rowsPerPageOptions]="[5, 10, 25, 50]"
    >
        <ng-template #header>
            <tr>
                <th style="width:33,3%">#</th>
                <th pSortableColumn="author" style="width:33,3%">Author <p-sortIcon field="title" /></th>
                <th style="width:33,3%">Action</th>
            </tr>
        </ng-template>
        <ng-template #body let-author let-rowIndex="rowIndex">
            <tr>
                <td>{{ author.id }}</td>
                <td>{{ author.author }}</td>
                <td><p-button label="Select" variant="text" [raised]="true" severity="help" (click)="selectAuthor(rowIndex)"/></td>
            </tr>
        </ng-template>
        <ng-template #paginatorleft>
            <p-button type="button" icon="pi pi-plus" text />
        </ng-template>
        <ng-template #paginatorright>
            <p-button type="button" icon="pi pi-cloud" text />
        </ng-template>
    </p-table>
</div>
