<app-navigation class="nav"></app-navigation>
<div class="container">
    <button class="btn btn-primary new" routerLink="/book/new" routerLinkActive="active">New Book</button>
  <table class="table" *ngIf="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Author</th>
        <th>Year</th>
        <th>Price</th>
        <th>Pages</th>
        <th>Language</th>
        <th>Book Cover</th>
        <th>Quantity</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let b of books; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ b.title }}</td>
        <td>{{ b.author.author }}</td>
        <td>{{ b.year }}</td>
        
        <td>{{ b.price | number: '1.2-2'}}</td>
        <td>{{ b.pages }}</td>
        <td>{{ b.language }}</td>
        <td>{{ b.bookCover }}</td>
        <td>{{ b.quantity }}</td>
        <td>
          <button class="btn btn-success" *ngIf="b.code" [routerLink]="['/book/', b.code]" 
          routerLinkActive="active">
            Select
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
