img{
    width: 250px;
    margin-bottom: 30px;
    margin-top: 150px;
    border-radius: 100%;
    background-color: var(--terciary-color);
}

form{
    width: 600px;
    margin: 30px auto;
    text-align: center;
}
label{
    float: inline-start;
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: bold;
}
.authorSelect{
    width: 600px;
    margin: 15px auto;
    text-align: center;
    text-align: left;
    border-radius: 5px;
    height: 40px;
    border-color: var(--terciary-color);
}

input{
    margin-bottom: 10px;
}

input[type="button"]{
    margin-right: 10px;
}

.characteristics{
    width: 200px;
    height: 40px;
    margin: 10px;
    padding: 8px;       
    font-size: 16px;   
    border: 1px solid var(--secondary-color); 
    border-radius: 4px;   
    background-color: var(--terciary-color); 
    color: var(--secondary-color);        
    cursor: pointer;
}

.btn-primary{
    --bs-btn-border-color: var(--bd-violet-bg)!important;
    --bs-btn-hover-color: var(--bs-white);
    width: 100px;
    height: 40px;
}
.btn-primary:hover{
    scale: 1.1;
}

.selectCategoryButton{
    margin: 30px 0px 30px 0px;
}


.categoryPage {
    position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 900px;
  height: 600px;
  background: var(--primary-color); 
  z-index: 9999;
  border: 2px solid var(--secondary-color);
    .closeButton {
        position: absolute;
        margin: 5px;
        right: 3px;
        background: none;
        border: none;
        border-radius: 0;
        font-size: 20px;
        cursor: pointer;
        color: red;
        font-weight: bold;
    }

    .closeButton:hover {
        color: white;
        background-color: red;
    }
}

.categories{
    height: 400px;
    width: 600px;
    display: block;
    margin: 0 auto;
    span{
        margin: 20px;
        color: var(--secondary-color);
        font-size: 30px;
        font-weight: bold;
    }
    .group1, .group2 {
        margin-top: 10px;
        margin-bottom: 20px;
        width: 325px;
    }
}