
<app-navigation></app-navigation>
<form action="">
  <img src="../../../assets/dia-mundial-do-livro.png" alt="" />
  <input
    type="file"
    placeholder="Image"
    class="form-control"
    name="Image"
    (change)="onFileChange($event)"
  />
  <label for="Title">Title:</label>
  <input
    type="text"
    placeholder="Title"
    class="form-control"
    name="Title"
    [(ngModel)]="book.title"
  />
  <label for="author">Author:</label>
  <select name="author" class="authorSelect" [(ngModel)]="book.author">
    <option disabled selected>Authors</option>
    <option *ngFor="let a of authors" [ngValue]="a.id">{{ a.author }}</option>
  </select>
  <label for="year">Year:</label>
  <input
    type="text"
    placeholder="Year"
    class="form-control"
    name="year"
    mask="0000"
    [max]="2025"
    [(ngModel)]="this.year"
  />
  <label for="price">Price:</label>
  <input
    type="text"
    placeholder="Price"
    class="form-control"
    name="price"
    mask="separator.2"
    [(ngModel)]="this.price"
    />
  <label for="pages">Pages:</label>
  <input
    type="text"
    placeholder="Pages"
    class="form-control"
    name="pages"
    mask="0000"
    [(ngModel)]="this.pages"
  />
  <label for="quantity">Quantity:</label>
  <input
    type="text"
    placeholder="Quantity"
    class="form-control"
    name="quantity"
    mask="000"
    [(ngModel)]="this.quantity"
    maxlength="100"
  />
  <label for="description">Description:</label>
  <input
    type="text"
    placeholder="Description"
    class="form-control"
    name="description"
    [(ngModel)]="book.description"
  />

  <button (click)="categoryPage = false" class="btn btn-primary selectCategoryButton">Categories</button>

    <div *ngIf="!categoryPage" class="categoryPage">
      <button (click)="categoryPage=true" class="btn btn-primary selectCategoryButton closeButton">X</button>
      <app-category-select (choosedCategories)="updateSelectedCategories($event)"></app-category-select>
    </div>

  <div>
    <select name="language" [(ngModel)]="book.language" class="characteristics">
      <option value="" disabled selected>Language</option>
      <option value="English">English</option>
      <option value="Portuguese">Portuguese</option>
    </select>
    <select
      name="bookCover"
      [(ngModel)]="book.bookCover"
      class="characteristics"
    >
      <option value="" disabled selected>Book-Cover</option>
      <option value="HardCover">Hard-Cover</option>
      <option value="SoftCover">Soft-Cover</option>
    </select>
  </div>

  <input
    type="button"
    value="Register"
    *ngIf="btnRegister"
    class="btn btn-primary"
    (click)="register()"
  />