<div class="container"> 
    <div class="imgDisplay">
        <img src="../../../assets/dia-mundial-do-livro.png" alt="Logo do site">
    </div>
    <div class="content">
        <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/admin/new" routerLinkActive="active">New Admin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/book/new" routerLinkActive="active">New Book</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/author/new" routerLinkActive="active">New Author</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/category/new" routerLinkActive="active">New Category</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/book/all" routerLinkActive="active">All Books</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/author/all" routerLinkActive="active">All Authors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/category/all" routerLinkActive="active">All Categories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/admin/all" routerLinkActive="active">All Admins</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/allErrands" routerLinkActive="active">All Errands</a>
            </li>
          </ul>
    </div>
</div>
