.container{
    display: flex;
    margin: 0px;
    margin-top: 110px;
    flex-direction: column;
    border-right: 3px solid var(--secondary-color);
    height: 619px;
    width: 300px;
    overflow-y: auto;

    .imgDisplay{
        display: flex;
        border: 2px solid var(--secondary-color);
        background-color: var(--terciary-color);
        height: 200px;
        justify-content: center;
        align-items: center;
        img{
            height: 100px;
            background-color: var(--terciary-color);
        }
    }

    .content{
        height: 400px;
        margin-top: 50px;

        .nav-item{
            font-size: 25px;
            font-weight: bold;
            border-top: 2px solid var(--secondary-color);
            border-bottom: 2px solid var(--secondary-color);
            a{
                color: var(--font-color);
                &:hover{
                    margin-right: 5px;
                    color: var(--hover-font-color);
                    scale: 1.1;
                }
            }

            
        }
    }
}