.container{
    display: flex;
    margin: 0px;
    flex-direction: column;
    border-right: 3px solid black;
    height: 664px;
    width: 300px;
    overflow-y: auto;

    .imgDisplay{
        display: flex;
        border: 1px solid black;
        height: 200px;
        justify-content: center;
        align-items: center;
        img{
            height: 100px;
        }
    }

    .content{
        height: 400px;
        margin-top: 50px;

        .nav-item{
            font-size: 25px;
            font-weight: bold;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            a{
                color: black;
                &:hover{
                    margin-right: 5px;
                    color: rgb(89, 167, 239);
                    scale: 1.1;
                }
            }

            
        }
    }
}